.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app>.nav-bar>nav>ul {
  display: flex;
  justify-content: center;
}

.app>.nav-bar>nav>ul>li {
  list-style: none;
  padding: 10px;
}


.todo-list {
  width: 480px;
  text-align: center;
}

.todo-group {
  text-align: left;
}

.todo-item {
  border: 1px solid #CCC;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;

}

.todo-item div {
  cursor: pointer;
}

.todo-generator {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.todo-generator input {
  width: 100%;
  padding: 8px 16px 8px 16px;
  margin-right: 16px;
}

.todo-generator button {
  width: 180px;
}

.task-name.done {
  text-decoration: line-through;
}

.text-box {
  display: flex;
  justify-content: left;
}

.card {
  margin: 15px 10% 15px 17%;
}

.todo-row {
  line-height: 250%;
}

.todo {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}